@inherits LayoutComponentBase
<MudThemeProvider  Theme="@theme1"/>
    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>


@code {
    MudTheme theme1 = new MudTheme()
    {
        Palette = new Palette()
        {
            Primary = "#3F51B5",
            Secondary = "#40B0A6",
        }

    };
}