@page "/"

<AuthorizeView>
    <Authorized>

        <DoctorAppWeb.Client.Pages.Persons />
              
    </Authorized>
    <Authorizing>

        <h1>Загрузка ...</h1>

    </Authorizing>
</AuthorizeView>