@page "/"

<AuthorizeView>
    <Authorized>

        <h1>Добро пожаловать, @context.User.Identity.Name =)) !!</h1>
        <p>Привет, друг</p>
              
    </Authorized>
    <Authorizing>

        <h1>Загрузка ...</h1>

    </Authorizing>
</AuthorizeView>