@page "/meds"
@inject IPatientsService PatientService
@inject HttpClient Http
<Progress isVisible="@showProgress"></Progress>
<MudPaper Class="innerPageWrapper">
    <div class="pageWrapper">
        <MudText Typo="Typo.h5">
            Медикаменты
        </MudText>
        <div class="tabWrapper">
            <MudTabs>
                <MudTabPanel Text="ТЕКУЩИЕ"></MudTabPanel>
                <MudTabPanel Text="ПО ВСЕЙ ГОСПИТАЛИЗАЦИИ"></MudTabPanel>
                <MudTabPanel Text="АРХИВ"></MudTabPanel>
            </MudTabs>
        </div>
    </div>
</MudPaper>


@code {
    public bool showProgress = true;
    protected override async Task OnInitializedAsync()
    {
        PatientMedicamentResultDto test1 = await GetMedicamentsAsync(SrvType.DTC);
        PatientMedicamentResultDto test2 = await GetMedicamentsAsync(SrvType.ISC);
        PatientMedicamentResultDto test3 = await GetMedicamentsAsync(SrvType.All);
    }

    private async Task<PatientMedicamentResultDto> GetMedicamentsAsync(SrvType srvType)
    {
        PatientMedicamentResultDto result = null;
        try
        {
            showProgress = true;
            var httpRequest = new HttpRequestMessage(HttpMethod.Get, "Medicaments/Medicaments");
            httpRequest.Headers.Add("patientId", PatientService.CurrentPatient.ToString());
            httpRequest.Headers.Add("hcsId", PatientService.HealthcareServiceId.ToString());
            httpRequest.Headers.Add("srvType", srvType.ToString());
            HttpResponseMessage httpResponse = await Http.SendAsync(httpRequest);
            result = await httpResponse.Content.ReadFromJsonAsync<PatientMedicamentResultDto>();
            showProgress = false;
        }
        catch (Exception ex)
        {

        }

        return result;
    }
}
