<h4>Изменить отбор</h4>

<div><button>Мои пациенты</button></div>
<div><button>Поступившие</button></div>
<div><button>Замена врача</button></div>
<div><button>По отделениям</button></div>
<div><button>Все пациенты</button></div>

@code {

}
