@page "/whatisnew"
@using Microsoft.AspNetCore.Components.Authorization
@inject HttpClient Http
@inject IIndexedDbFactory DbFactory
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IPatientsService PatientService
@inject NavigationManager navigationManager
@inject StateContainer StateContainer


<div>Добавить комментарий</div>
<br />
<br />
<div><h4>Что нового</h4></div>
<br />
<div><input type="search" style="width: 96%;"><button style="background-color:#3F51B5;"><img src="Search.svg" width="50" height="24"></button></div>
<br />
<div>
    
</div>


@code {

        List<NewFiagnosInfoDto> diagnosis = new List<NewFiagnosInfoDto>();
        List<NewServiceInfoDto> newHcs = new List<NewServiceInfoDto>();


    //private async Task GetWhatNewsFull()
    //{
    //    newHcs = await GetNewHealthcareServices();
    //    foreach (NewServiceInfoDto serviceInfoDto in newHcs)
    //    {
    //        switch (serviceInfoDto.InfoType)
    //        {
    //            case NewServiceInfoType.Diagnos: diagnosis.Add(await GetNewPatientDiagnos(serviceInfoDto.InfoId)); break;
    //                    //case NewServiceInfoType.
    //        }
    //    }
    //}

    protected override async Task OnInitializedAsync()
    {
        StateContainer.ShowDrawer = true;
        //PatientService.CurrentPatient;
        //await JSRuntime.InvokeVoidAsync("visibleMenu", true);
    }

    private async Task<List<NewServiceInfoDto>> GetNewHealthcareServices() //ОК
    {
        List<NewServiceInfoDto> result = null;
        try
        {
            var httpRequest = new HttpRequestMessage(HttpMethod.Get, "News/NewHealthcareServices");
            httpRequest.Headers.Add("healthcareServiceId", PatientService.HealthcareServiceId.ToString());
            HttpResponseMessage httpResponse = await Http.SendAsync(httpRequest);
            result = await httpResponse.Content.ReadFromJsonAsync<List<NewServiceInfoDto>>();
        }
        catch (Exception ex)
        {

        }

        return result;
    }

    private async Task<NewFiagnosInfoDto> GetNewPatientDiagnos(Guid id)
    {
        NewFiagnosInfoDto result = null;
        try
        {
            var httpRequest = new HttpRequestMessage(HttpMethod.Get, "News/NewPatientDiagnos");
            httpRequest.Headers.Add("diagnosId", id.ToString());
            HttpResponseMessage httpResponse = await Http.SendAsync(httpRequest);
            result = await httpResponse.Content.ReadFromJsonAsync<NewFiagnosInfoDto>();
        }
        catch (Exception ex)
        {

        }

        return result;
    }

    private async Task<List<NewParameterInfoDto>> GetNewLabTest()
    {
        List<NewParameterInfoDto> result = null;
        try
        {
            var httpRequest = new HttpRequestMessage(HttpMethod.Get, "News/NewLabTest");
            httpRequest.Headers.Add("labTestId", PatientService.HealthcareServiceId.ToString()); //ИЗВЛЕЧЬ LABTEST_ИД
            HttpResponseMessage httpResponse = await Http.SendAsync(httpRequest);
            result = await httpResponse.Content.ReadFromJsonAsync<List<NewParameterInfoDto>>();
        }
        catch (Exception ex)
        {

        }

        return result;
    }

    public async Task<InvestigationDto> GetNewInvestigation()
    {
        InvestigationDto result = null;
        try
        {
            var httpRequest = new HttpRequestMessage(HttpMethod.Get, "News/NewInvestigation");
            httpRequest.Headers.Add("investigationId", PatientService.HealthcareServiceId.ToString()); //ИЗВЛЕЧЬ Investg_ИД
            HttpResponseMessage httpResponse = await Http.SendAsync(httpRequest);
            result = await httpResponse.Content.ReadFromJsonAsync<InvestigationDto>();
        }
        catch (Exception ex)
        {

        }

        return result;
    }

    public async Task<ConsultanceDto> GetNewConsultance()
    {
        ConsultanceDto result = null;
        try
        {
            var httpRequest = new HttpRequestMessage(HttpMethod.Get, "News/NewConsultance");
            httpRequest.Headers.Add("consultanceId", PatientService.HealthcareServiceId.ToString()); //ИЗВЛЕЧЬ consultanceId
            HttpResponseMessage httpResponse = await Http.SendAsync(httpRequest);
            result = await httpResponse.Content.ReadFromJsonAsync<ConsultanceDto>();
        }
        catch (Exception ex)
        {

        }

        return result;
    }
}
