@page "/whatisnew"
@using Microsoft.AspNetCore.Components.Authorization
@inject HttpClient Http
@inject IIndexedDbFactory DbFactory
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IPatientsService PatientService
@inject NavigationManager navigationManager
@inject Microsoft.JSInterop.IJSRuntime JSRuntime
@inject StateContainer StateContainer


<div>Добавить комментарий</div>
<br />
<br />
<div><h4>Что нового</h4></div>
<br />
<div><input type="search" style="width: 96%;"><button style="background-color:#3F51B5;"><img src="Search.svg" width="50" height="24"></button></div>
<br />
<div>
    
</div>


@code {


    protected override async Task OnInitializedAsync()
    {
        StateContainer.ShowDrawer = true;
        //PatientService.CurrentPatient;
        //await JSRuntime.InvokeVoidAsync("visibleMenu", true);
        }
}
