@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

/*variables*/
:root {
    --fs-lg: 34px;
    --fs-md: 24px;
}
/*end*/

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #E5E5E5;
    font-size: 24px
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.main-logon {
    margin: 0 auto;
    max-width: 430px;
    padding-top: 150px;
}

    .main-logon h1 {
        font-weight: 300;
        color: #252525;
        font-size: 1.8em;
        line-height: 1.1;
        margin: 0 0 5px;
        text-align: center;
    }

.authForm {
    border: #3CD0CE solid 2px;
    border-radius: 4px;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
}

.form-signin {
    width: 90%;
    align-self: flex-end;
    margin: auto;
}


.flexContainer {
    display: flex;
    margin-top: 1em;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.mud-tabs-toolbar-content .mud-tabs-toolbar-wrapper {
    float:right
}