@if( Title!=null)
{
    <h3>@Title</h3>
}

<div style="display: flex; flex-direction: column; flex-wrap: nowrap; @(FullSize?"width: 100%; height: 100%;":"")">
    <div style="width: 100%;">
        <div style="width: 100%;">
            @if (Header != null)
            {
                @Header
            }

        </div>
    </div>
    <div style="width: 100%; height: 100%; display: flex; flex-direction: row; flex-wrap: nowrap;">
        <div style="height: 100%;">
           
            @if (Left != null)
            {
                @Left
            }
        </div>
        <div style="height: 100%; width: 100%;">
            @ChildContent
        </div>
        <div style="height: 100%;">
            @if (Right != null)
            {
                @Right
            }
          
        </div>

    </div>
    <div style="width: 100%;">
        <div style="width: 100%;">
            @if (Footer != null)
            {
                @Footer
            }
           
        </div>
    </div>
</div>
@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public bool FullSize { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public RenderFragment Left { get; set; }

    [Parameter]
    public RenderFragment Right { get; set; }

    [Parameter]
    public RenderFragment Header { get; set; }

    [Parameter]
    public RenderFragment Footer { get; set; }

}
