@page "/selectedtype"
 
@inject HttpClient Http
@inject IIndexedDbFactory DbFactory
@inject IPatientsService PatientsService
<style>
    .select-type-container > div {
        margin: 10px 10px;
    }
</style>

<div class="select-type-container">

    @if (CustomGroupPersons == null)
    {
        <p>Загрузка...</p>
    }
    else
    {
        @foreach (var customGroupPerson in CustomGroupPersons)
        {
            <div>
                @if (customGroupPerson.Selected)
                {
                    <button class="btn btn-primary" style="width: 100%;">
                        @customGroupPerson.NameButtonRu
                    </button>
                }
                else
                {
                    <button class="btn btn-info" style="width: 100%;" 
                            @onclick="@(async ()=> {
                                            await PatientsService.SelectCustomGroupPerson(customGroupPerson.Id);
                                            await Update();
                                            await ModalInstance.CloseAsync(ModalResult.Ok<CustomGroupPerson>(await PatientsService.GetCustomGroupPerson()));
                                        })">
                        @customGroupPerson.NameButtonRu
                    </button>
                }
            </div>
        }
    }
    
</div>
@code {

    [CascadingParameter] 
    BlazoredModalInstance ModalInstance { get; set; }

    private CustomGroupPerson[] CustomGroupPersons;



    protected override async Task OnInitializedAsync()
    {
        CustomGroupPersons = await PatientsService.GetCustomGroupPersons();
    }

    protected async Task Update()
    {
        CustomGroupPersons = await PatientsService.GetCustomGroupPersons();
    }

}