@inherits LayoutComponentBase
@using DoctorAppWeb.Shared.Models
@using DoctorAppWeb.Client.Services
@using DoctorAppWeb.Shared.Models
@using IndexedDB.Blazor;
@inject HttpClient Http
@inject NavigationManager navigationManager
@inject CustomStateProvider authStateProvider
@inject IIndexedDbFactory DbFactory

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row">
            <button type="button" class="btn btn-link ml-md-auto" @onclick="@LogoutClick">Выход</button>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

<BlazoredModal />
@functions{

    [CascadingParameter]
    Task<AuthenticationState> AuthenticationState { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            ConnectionStatus result = null;
            result = await Http.GetFromJsonAsync<ConnectionStatus>("Tools");

            if (result == null)
            {
                throw new Exception();
            }
        }
        catch (Exception ex) //Если офлайн
        {
            CustomAuthorization customAuthorization = null;
            DateTime? maxDate = null;
            using (var db = await this.DbFactory.Create<MainDB>())
            {
                maxDate = db.CustomAuthorizations.Max(x => x.DateActual);
                customAuthorization = db.CustomAuthorizations.FirstOrDefault(x => x.DateActual.HasValue && x.DateActual == maxDate);
                if (customAuthorization == null || (customAuthorization != null && maxDate.Value.AddDays(1) < DateTime.Now))
                {
                    navigationManager.NavigateTo("/authrequired");
                }
                else
                {
                    customAuthorization.DateActual = DateTime.Now;
                    await db.SaveChanges();
                }
            }
            return;
        }

        if (!(await AuthenticationState).User.Identity.IsAuthenticated)
        {
            navigationManager.NavigateTo("/login");
        }
        else
        {
            using (var db = await this.DbFactory.Create<MainDB>())
            {
                string userName = (await AuthenticationState).User.Identity.Name;
                foreach(CustomAuthorization customAuth in db.CustomAuthorizations.Where(x => x.Login == userName))
                {
                    db.CustomAuthorizations.Remove(customAuth);
                }
                await db.SaveChanges();

                db.CustomAuthorizations.Add(new CustomAuthorization
                {
                    Login = userName,
                    Password = "Hash",
                    DateActual = null,
                    DateUpdate = null
                });

                await db.SaveChanges();
            }
        }
    }
    async Task LogoutClick()
    {
        await authStateProvider.Logout();
        navigationManager.NavigateTo("/login");
    }
}
