<MudOverlay @bind-Visible="isVisible" DarkBackground="true" ZIndex="9999" AutoClose="false" />
@if (isVisible) {
    <div class="overlay">
        <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
    </div>
}


<style>
    .overlay {
        z-index: 99999;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-height: 100vh;
    }
</style>

@code {
    [Parameter]
    public bool isVisible { get; set; }
}
